footer{
    background-color:burlywood;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    color: black;

    .footer-content{
        max-width: 1200px;
        margin: 0 auto;
    

    p{
        margin: 0;
        font-size: 14px;
    }

    a{
        text-decoration: none;
        color: inherit;
    }
    .social-links{
        margin-top: 10px;

        a{
            margin: 0 10px;
            font-size: 20px;
            color: black;
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover{
                color: whitesmoke;
            }
    }
}
}
}