body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Arial, sans-serif;
}
.common-btn{
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color .3s ease;
  margin-top: 10px;

  &:hover{
    background-color: blue;
  }

  @media (max-width: 768) {
    font-size: 16px;
  }
}