.about{
    padding: 80px 0;
    text-align: center;
    min-height: 55vh;

    .about-content{
        max-width: 800px;
        margin: 0 auto;

        h2{
            font-size: 32px;
            color: black;
            margin: 20px;
        }

        p{
            font-size: 16px;
            color: darkgray;
            line-height: 1.6;
        }
    }
}